<?xml version="1.0"?>
<model>
  <name>e.DO Gripper Dummy</name>
  <version>1.0</version>
  <sdf version='1.4'>edo_gripper_dummy.sdf</sdf>

  <author>
   <name>Stefan Profanter</name>
   <email>profanter@fortiss.org</email>
  </author>

  <description>
    e.DO Gripper Dummy
  </description>
</model>